<div class="container">
  <center>
    <h1>General Ledger</h1>
    <br>
  </center>

<table class="table table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Credit Balance</th>
    <th>Debit Balance</th>
    <th>Balance</td>
  </tr>

<% @accounts.each do |account| %>
  <tr class="<%= cycle("even", "odd") -%>">
    <td><%=h account.name %></td>
    <td><%=h account.type.sub('Plutus::','') %></td>
    <td><%=h account.credits_balance.round(2) %></td>
    <td><%=h account.debits_balance.round(2) %></td>
    <td><%=h account.balance.round(2) %></td>
  </tr>
<% end %>
</table>
</div>
