<div class="plutus_container">
<h1><%=h @account.name %> Account</h1>

<table>
  <tr>
    <th class="nobg">ID</th>
    <th>Name</th>
    <th>Type</th>
    <th>Credit Balance</th>
    <th>Debit Balance</th>
    <th>Balance</td>
  </tr>

  <tr class="odd">
    <td><%=h @account.id %></td>
    <td><%=h @account.name %></td>
    <td><%=h @account.type.sub('Plutus::','') %></td>
    <td><%=h @account.credits_balance %></td>
    <td><%=h @account.debits_balance %></td>
    <td><%=h @account.balance %></td>
  </tr>
</table>

<h1>Credit Entries</h1>

<table>
  <tr>
    <th class="nobg">ID</th>
    <th>Description</th>
    <th>Date</th>
  </tr>

<% @account.credit_entries.each do |entry| %>
  <tr class="<%= cycle("even", "odd") -%>">
    <td><%=h entry.id %></td>
    <td><%=h entry.description %></td>
    <td><%=h entry.created_at %></td>
  </tr>
<% end %>
</table>

<h1>Debit Entries</h1>

<table>
  <tr>
    <th class="nobg">ID</th>
    <th>Description</th>
    <th>Date</th>
  </tr>

<% @account.debit_entries.each do |tr| %>
  <tr class="<%= cycle("even", "odd") -%>">
    <td><%=h tr.id %></td>
    <td><%=h tr.description %></td>
    <td><%=h tr.created_at %></td>
  </tr>
<% end %>
</table>
</div>
