<h1><%=h @account.name %> Account</h1>

<table>
  <tr>
    <th class="nobg">ID</th>
    <th>Name</th>
    <th>Type</th>
    <th>Credit Balance</th>
    <th>Debit Balance</th>
    <th>Balance</td>
  </tr>

  <tr class="odd">
    <td><%=h @account.id %></td>
    <td><%=h @account.name %></td>
    <td><%=h @account.type %></td>
    <td><%=h @account.credits_balance %></td>
    <td><%=h @account.debits_balance %></td>
    <td><%=h @account.balance %></td>
  </tr>
</table>

<h1>Credit Transactions</h1>

<table>
  <tr>
    <th class="nobg">ID</th>
    <th>Description</th>
    <th>Credit Account</th>
    <th>Debit Account</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>

<% @account.credit_transactions.each do |transaction| %>
  <tr class="<%= cycle("even", "odd") -%>">
    <td><%=h transaction.id %></td>
    <td><%=h transaction.description %></td>
    <td><%=h transaction.credit_account.name %></td>
    <td><%=h transaction.debit_account.name %></td>
    <td><%=h transaction.amount %></td>
    <td><%=h transaction.created_at %></td>
  </tr>
<% end %>
</table>

<h1>Debit Transactions</h1>

<table>
  <tr>
    <th class="nobg">ID</th>
    <th>Description</th>
    <th>Credit Account</th>
    <th>Debit Account</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>

<% @account.debit_transactions.each do |transaction| %>
  <tr class="<%= cycle("even", "odd") -%>">
    <td><%=h transaction.id %></td>
    <td><%=h transaction.description %></td>
    <td><%=h transaction.credit_account.name %></td>
    <td><%=h transaction.debit_account.name %></td>
    <td><%=h transaction.amount %></td>
    <td><%=h transaction.created_at %></td>
  </tr>
<% end %>
</table>