<div class="container">
  <center>
    <h1>Journal</h1>
    <br>
    <%= form_tag({:action => 'index'}, {:method => :get, :class => 'form-inline'}) do%>
      <div class="form-group">
      Per page: <%= select_tag :limit, options_for_select([25, 100, 200, 300], selected: params[:limit]), class: 'form-control' %>
      Order: <%= select_tag :order, options_for_select(['descending', 'ascending'], selected: params[:order]), class: 'form-control' %>
      </div>
      <button type="submit" class="btn btn-default">Refresh</button>
    <% end %>
  </center>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Description</th>
      <th>Debits</th>
      <th>Credits</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
  <% @entries.each do |entry| %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%=h entry.description %></td>
      <td></td>
      <td></td>
      <td><%=h entry.created_at %></td>
    </tr>
    <% entry.debit_amounts.each do |debit_amount| %>
      <tr class="<%= cycle("odd", "odd") -%>">
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<%=h "#{debit_amount.account.name}" %></td>
        <td><%=h debit_amount.amount.round(2) %></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
    <% entry.credit_amounts.each do |credit_amount| %>
      <tr class="<%= cycle("odd", "odd") -%>">
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=h "#{credit_amount.account.name}" %></td>
        <td></td>
        <td><%=h credit_amount.amount.round(2) %></td>
        <td></td>
      </tr>
    <% end %>
    <tr class="<%= cycle("odd", "odd") -%>">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @entries %>

</div>
