<div class="plutus_container">
<h1><%=h @entry.description %> Entry</h1>

<table cellspacing="0">
  <thead>
    <tr>
      <th class="nobg">ID</th>
      <th>Description</th>
      <th>Debits</th>
      <th>Credits</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%=link_to(@entry.id, entry_path(@entry)) %></td>
      <td><%=h @entry.description %></td>
      <td></td>
      <td></td>
      <td><%=h @entry.created_at %></td>
    </tr>
    <% @entry.debit_amounts.each do |debit_amount| %>
      <tr class="<%= cycle("odd", "odd") -%>">
        <td></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<%=h "#{debit_amount.account.name}" %></td>
        <td><%=h debit_amount.amount %></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
    <% @entry.credit_amounts.each do |credit_amount| %>
      <tr class="<%= cycle("odd", "odd") -%>">
        <td></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=h "#{credit_amount.account.name}" %></td>
        <td></td>
        <td><%=h credit_amount.amount %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<h3>Go to <%= link_to 'Accounts', accounts_path %></h3>
</div>
